{% extends 'layout/base.html' %}

{% block header_nav_items %}
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('order_create') }}">Tạo đơn hàng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('orders_history') }}">Lịch sử đơn hàng</a>
    </li>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Chào mừng đến với Discounts Management</h1>
        <p class="lead">Quản lý chương trình khuyến mãi hiệu quả cho doanh nghiệp của bạn</p>
    </div>
{% endblock %}