{% extends 'layout/base.html' %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
  <form method="POST" class="mx-auto" style="max-width: 400px;">
    {% if err_msg %}
    <div class="alert alert-danger" role="alert">
      {{ err_msg }}
    </div>
    {% endif %}

    <div class="mb-3">
      <label for="phone_number" class="form-label">Số điện thoại</label>
      <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
    </div>
    <div class="mb-3">
      <label for="full_name" class="form-label">Họ và tên</label>
      <input type="text" class="form-control" id="full_name" name="full_name" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
      <label for="confirm" class="form-label">Xác nhận mật khẩu</label>
      <input type="password" class="form-control" id="confirm" name="confirm" required>
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
  </form>
{% endblock %}